{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    {% block content %}
        <section class="lesLieux">
            <div class="lieu">
                <img src="./image/americanhoney.jpg" alt="" class="lieu_image">
                <div class="lieu_details">
                    <p>25 Novembre</p>
                    <br>
                    <p>PROFITEZ DU SPECTACLE qsdqdqfhqifhqidgqidbqzdvqidb</p>
                    <br>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla deserunt atque accusamus sit ... </p>
                </div>
            </div>
        </section>
        {% endblock %}
{% endblock %}
