{% extends 'base.html.twig' %}

{% block title %}Finalisation{% endblock %}

    {% block h2 %}Finalisation{% endblock %}

{% block content %}

    <div class="finalisation_panier">
        <h3>Voici vos futurs achats</h3>
        <h4>Toutes vos places seront envoyées sur votre adresse mail en format E-billet.</h4>
        <br>
        <div id="finalpayement"></div>
        <br>
        <h4>Veuillez-choisir un moyen de payement.</h4>
        <span id="id_Liste"></span>
        <div class="mode">
            <img src={{ asset('media/mastercard.png')}}  class="mode_achat" id="mode1">
            <img src={{ asset('media/paypal.png')}} class="mode_achat2" id="mode2">
        </div>
        <form action="./terminer" class="carte invisible_mode" id="carte">
            <input type="text" class="carte_nom" placeholder="Prenom Nom de la carte" required>
            <input type="text" class="carte_code" placeholder="Code de Carte" required>
            <input type="text" class="carte_date" placeholder="**/**" required>
            <input type="text" class="carte_codedos" placeholder="Code à 3 chiffres" required>
            <input type="submit" value="Valider ma commande" class="carte_valide">
        </form>
        <form action="./terminer" class="paypal invisible_mode" id="paypal">
            <input type="text" class="paypal_compte" placeholder="Compte Paypal" required>
            <input type="text" class="paypal_iban" placeholder="Code Paypal" required>
            <input type="submit" value="Valider ma commande" class="carte_valide">
        </form>
    </div>
    <script type="text/javascript">

        liste = '{{ Liste }}';
        finalListe = JSON.parse(liste.replace(/(&quot\;)/g,"\""));

        console.log(liste)
        finalListe.forEach(uneinfo => {


            html = `<div id="${uneinfo.id}" class="final_produit">
                <h4>${uneinfo.article}</h4>
                <div class="finalP_info">
                    <p> Prix à l'unité : ${uneinfo.prix}€</p> <p> Quantité : ${uneinfo.quantite}</p>
                </div>

            </div>`;

            document.getElementById('finalpayement').innerHTML += html

        })

    </script>
    {% endblock %}


