{% extends 'base.html.twig' %}

{% block title %}Finalisation{% endblock %}
{% block  javascripts %}
    <script type="text/javascript" defer>
        js_Liste = JSON.parse({{ Liste }});
        document.getElementById("id_Liste").innerHTML = js_Liste;
        console.log(js_Liste);
    </script>
{% endblock %}
{% block body %}
    {% block h2 %}Finalisation{% endblock %}

{% block content %}
    <div class="finalisation_panier">
        <h3>Voici vos futurs achats</h3>
        <h4>Toutes vos places seront envoyées sur votre adresse mail en format E-billet.</h4>
        <span id="id_Liste">{{ Liste }}</span>
    </div>
    {% endblock %}
{% endblock %}
