{% extends 'base.html.twig' %}

{% block title %}Finalisation{% endblock %}

{% block body %}
    {% block h2 %}Finalisation{% endblock %}
{% block content %}
    <div>
        <h3>Voici vos futurs achats</h3>
    </div>
    <div>
        <h4>Toutes vos places seront envoyées sur votre adresse mail en format E-billet.</h4>
        <span>{{ panier }}</span>
    </div>
    {% endblock %}
{% endblock %}
