{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    {% block h2 %}Réservation{% endblock %}
    {% block content %}
        <section class="achat">
            <article class="contenu_achat">
                <img src="./image/bigflooli.jpg.jpg" alt="" class="image_achat">
                <h3>Spectacle</h3>
                <br>
                <h4>Concert</h4>
                <br>
                <div>
                    <span id="article">vis bois</span> - <span id="prix">4</span>€
                    <input type="number" value="1" min="1" max="99" id="qte">
                    <input type="hidden" id="id" value="101">
                    <button id="ajout">ajouter au panier</button>
                </div>
                <br>
            </article>

        </section>
        {% endblock %}
{% endblock %}
