{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block h2 %}Politique de confidentialité{% endblock %}

{% block body %}
{% block content %}
    <div class="politique_confidentialite">
    <div>
        <h5>Politique de confidentialité</h5>
        <p>Le site web https://www.infoculture-reims.fr/index.php est détenu par Trésor, qui est un contrôleur de données de vos données personnelles.</p>
        <p>Nous avons adopté cette politique de confidentialité, qui détermine la manière dont nous traitons les informations collectées par https://www.infoculture-reims.fr/index.php, qui fournit également les raisons pour lesquelles nous devons collecter certaines données personnelles vous concernant. Par conséquent, vous devez lire cette politique de confidentialité avant d'utiliser le site web de https://www.infoculture-reims.fr/index.php.</p>
        <p>Nous prenons soin de vos données personnelles et nous nous engageons à en garantir la confidentialité et la sécurité.</p>
    </div>
    <br>
    <div>
        <h5>Les informations personnelles que nous collectons :</h5>
        <p>Lorsque vous visitez le https://www.infoculture-reims.fr/index.php, nous recueillons automatiquement certaines informations sur votre appareil, notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies installés sur votre appareil. En outre, lorsque vous naviguez sur le site, nous recueillons des informations sur les pages web ou les produits individuels que vous consultez, sur les sites web ou les termes de recherche qui vous ont renvoyé au site et sur la manière dont vous interagissez avec le site. Nous désignons ces informations collectées automatiquement par le terme "informations sur les appareils". En outre, nous pourrions collecter les données personnelles que vous nous fournissez (y compris, mais sans s'y limiter, le nom, le prénom, l'adresse, les informations de paiement, etc.) lors de l'inscription afin de pouvoir exécuter le contrat.</p>
    </div>
    <br>
    <div>
        <h5>Pourquoi traitons-nous vos données ?</h5>
        <p>Notre priorité absolue est la sécurité des données des clients et, à ce titre, nous ne pouvons traiter que des données minimales sur les utilisateurs, uniquement dans la mesure où cela est absolument nécessaire pour maintenir le site web. Les informations collectées automatiquement sont utilisées uniquement pour identifier les cas potentiels d'abus et établir des informations statistiques concernant l'utilisation du site web. Ces informations statistiques ne sont pas autrement agrégées de manière à identifier un utilisateur particulier du système.</p>
    </div>
    <br>
    <div>
        <h5>Vos droits :</h5>
        <p>Si vous êtes un résident européen, vous disposez des droits suivants liés à vos données personnelles :</p>
        <li>Le droit d'être informé.</li>
        <li>Le droit d'accès.</li>
        <li>Le droit de rectification.</li>
        <li>Le droit à l'effacement.</li>
        <li>Le droit de restreindre le traitement.</li>
        <li>Le droit à la portabilité des données.</li>
        <li>Le droit d'opposition.</li>
        <li>Les droits relatifs à la prise de décision automatisée et au profilage.</li>
        <p>Si vous souhaitez exercer ce droit, veuillez nous contacter via les coordonnées ci-dessous.</p>
        <p>En outre, si vous êtes un résident européen, nous notons que nous traitons vos informations afin d'exécuter les contrats que nous pourrions avoir avec vous (par exemple, si vous passez une commande par le biais du site), ou autrement pour poursuivre nos intérêts commerciaux légitimes énumérés ci-dessus. En outre, veuillez noter que vos informations pourraient être transférées en dehors de l'Europe, y compris au Canada et aux États-Unis.</p>
    </div>
    </div>
    {% endblock %}
{% endblock %}
