{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% block content %}
        <main>
            <section class="login">
                <form action="login_verification.php" method="post" class="form_login">
                    <h3>Connecter vous à votre profil</h3>
                    <input type="text" name="identifiant" id="identifiant" placeholder="Votre identifiant" required>
                    <input type="text" name="Mot de passe" id="password" placeholder="Votre mot de passe" required>
                    <input type="submit" value="Accéder à mon espace personnel">
                </form>
            </section>
        </main>
        {% endblock %}
{% endblock %}

