* {
    padding: 0;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300;400&display=swap');
    font-family: 'Inter', sans-serif;
}


/* Header */

header {
  box-shadow: #111 0px 0px 5px;
  top: 0;
}

/* nav */

nav {
    height: 85px;
    box-shadow: #111 0px 0px 5px;
}


.fluid_logo_nav {
    margin-top: 5px;
    margin-left: 20px;
    width: 20%;
    height: 20%;
}


.desktop_nav {
    display: none;
  }

  /* nav + */

a{
text-decoration: none;
    color: black;
}

.navbar {
  display: flex;
  margin-right: 5%;
  font-size: 1.7em;
  font-family: 'inter', sans-serif;
}

ul.navbar li{
  list-style: none;
  user-select: none;
}

#lien1:hover{
  cursor: pointer;
}

#lien2:hover{
  cursor: pointer;
}

.boite {
  position: absolute;
  margin-top: 5px;
  
}

.sous-boite{
  z-index: 10;
  border-bottom: 2px solid black;
  background-color: aliceblue;
}

.sous-boite > a{
  color: black;
}

.sous-boite > a:hover{
  color: #2582C0;
}

.invisible {
  display: none;
}
  
  /* Sidenav menu */
  .sidenav {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -250px;
      background-color: white;
      padding-top: 60px;
      
      transition: right 0.5s ease;
    }
  
    #openBtn {
      position: absolute;
      top: 30px;
      right: 0;
      margin-right: 10px;
      margin-top: -5%;
    }
    
    /* Sidenav menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      transition: 0.3s;
      font-family: 'Inter', sans-serif;
    }
    
    .sidenav a:hover {
      color: #111;
    }
    
    .sidenav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    /* Active class */
    .sidenav.active {
      right: 0;
    }
    
    /* Close btn */
    .sidenav .close {
      position: absolute;
      top: 0;
      left: 25px;
      font-size: 36px;
      color: black;
    }
    
    /* Icône burger */
    .burger-icon span {
      display: block;
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 10px 0;
    }

/* main */

h2{
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
    margin-left: 10%;
}

/* Accueil */


.accueil1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.accueil2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.premier_article{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    letter-spacing: 2px;
}

.deuxieme_article{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 80%;
    height: auto;
}

.troisieme_article{
    padding: 5%;
    font-weight: bold;
}

.image_accueil{
    width: 100%;
    height: auto;
    box-shadow: 30px 30px #987018;
}

/* manifestation */

.template_manifestation{
  margin-top: 20px;
    margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manifestation{
  width: 294px;
  height: 375px;
  background-color: rgb(32, 32, 32);
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 2px 2px 5px;
  margin-bottom: 5%;
}

.manifestation p{
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.manifestation p:nth-child(3){
  color: #b37047;
}

.manifestation p:nth-child(4){
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 1.2em;
  font-weight: bold;
    max-height: 23px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manifestation p:nth-child(5){
  font-size: 0.8em;
    max-height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.manifestation p:nth-child(6){
  margin-top: 8%;
  
}


.image_manifestation{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 80% 0%;
    transition: ease 0.2s;
}

.image_manifestation:hover{
    opacity: 0.5;
    transition: ease 0.2s;
}

a:hover .notice{
    opacity: 1;
}

.notice {
    opacity: 0;
    transition: ease 0.2s;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 20%;
    user-select: none;
}

/* Formulaire login */

.login{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.form_login {
  padding-top: 20%;
  padding-bottom: 20%;
  width: 80%;
  height: 230px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
    color: black;
    border: black 2px solid;
    border-radius: 20px;
    box-shadow: #987018 10px 10px 30px;
    font-weight: bold;
}

.form_login input{
  width: 70%;
  height: 100%;
    padding: 2%;
  margin-top: 8%;
    margin-bottom: 2%;
}

.form_login > button{
    width: 70%;
    height: 15%;
    margin-top: 10%;
}

.form_login > button{
  background-color: #987018;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 80%;
    padding: 4%;
}

/* lieu */

.lesLieux{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lieu{
    width: 80%;
    border: 3px solid black;
    box-shadow: #987018 15px 15px 30px;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 20px;
}

.lieu_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 2%;
}

.lieu_details{
    text-align: center;
    margin-bottom: 1%;
    padding: 2%;
    font-weight: bold;
}

/* Reservation */

.reservation{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info_manif{
    width: 80%;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 15px 15px 30px;
    letter-spacing: 1px;
}

.info_reservation{
    width: 80%;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 15px 15px 30px;
    font-weight: bold;
}


.info_reservation p{
    padding: 5%;
}

.info_manif h3 {
    padding: 2% 5% 2% 5%;
}

.info_manif h4 {
    padding: 2% 5% 2% 5%;
}

.info_reservation button{
    margin-bottom: 5%;
}

.info_reservation_bouton{
    display: flex;
    justify-content: center;
}

.sous_info_reservation{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 10%;
}

.info_manif p{
    padding: 5%;
}

.affiche_reservation{
    width: 100%;
    height: auto;
}

.notice_info{
    width: 10%;
}

/* recherche_reservation */

#manifestation{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#manifestation div:nth-child(3){
    text-align: center;
    margin-top: 5%;
}



#manifestation input{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 5%;
}

#manifestation_Lieu{
    border-radius: 40px;
    padding: 5%;
}

#manifestation_Chercher{
    padding: 5%;
    border-radius: 20px;
    background-color: #b37047;
}

/* achat */

.achat {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenu_achat{
    width: 80%;
    height: 100%;
    background-color: #9c9c9c;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.image_achat{
    width: 80%;
}

/* Info pratique */

.info_pratique{
    margin: 10%;
    border: #111 2px solid;
    border-radius: 20px;
    box-shadow: #987018 15px 15px 30px;
    padding: 2%;
}

.info_pratique p{
    letter-spacing: 2px;
    font-weight: 600;
}

.info_pratique h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info_pratique h5{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 1.2em;
    color: #987018;
}

/* formulaire inscription */

.form_register{
    margin-top: 15%;
    margin-bottom: 15%;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    box-shadow: #987018 5px 5px 15px;
}

.form_register > form{
    margin-left: 15%;
}

.form_register > form > div{
    justify-content: center;
    padding: 2%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_register > form > div:nth-child(1){
    margin-top: 5%;
}

.form_register input{
    margin-top: 5%;
    width: 100%;
    height: 40px;
}

.form_register button{
    margin-top: 5%;
    margin-bottom: 15%;
    width: 84%;
    height: 40px;
    background-color: #987018;
    color: white;
    border: 0px;
    border-radius: 10px;
}

/* footer */

footer {
    background-color: #9c9c9c;
    bottom: 0;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.footer_stick_bottom{
    position: absolute;
    bottom: 0;
}

.fluid_logo_footer {
    width: 30%;
    margin-top: 20px;
}

@media screen and (min-width: 1152px) {

    /* header/nav */

    header {
        width: 100%;
    }

    .desktop_nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

    .nav_responsive {
        display: none;
    }

    .logo_lien{
      width: 5%;
    }

    .fluid_logo_nav {
        width: 80%;
        height: auto;
    }

    /* main */


    /* Accueil */

    .accueil1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }



    .premier_article{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        width: 35%;
        height: 100%;
    }

    .deuxieme_article{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    /* manifestation */

    .template_manifestation {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 100px;
        margin-right: 100px;
    }

    /* login */

    .login{
        margin-top: 5%;
    }

    .form_login {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 50%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        color: black;
        border-radius: 50px;
        font-weight: bold;
        font-size: 1.2em;
    }

    .form_login h3{
        margin-bottom: 10%;
    }

    .form_login input{
        width: 50%;
        height: 30%;
        margin-top: 2%;
        padding: 2%;
        border-radius: 5px;
    }

    .form_login > button{
        background-color: #987018;
        color: white;
        border: 0px;
        border-radius: 30px;
        width: 30%;
        transition: ease 0.2s;
        cursor: pointer;

    }

    .form_login > button:hover{
        box-shadow: 5px 5px 10px black;
        transition: ease 0.2s;
    }

    /* reservation */

    .reservation{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .info_manif{
        width: 40%;
        height: 100%;
        margin-bottom: 5%;
    }

    .info_reservation{
        top: 0;
        width: 20%;
        height: 80%;
        margin-bottom: 5%;
    }


    /* recherche manifestation */

    #manifestation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
    }

    #manifestation div:nth-child(3){
        margin-top: 0;
    }

    #manifestation input{
        width: 80%;
        height: 40px;
        border-radius: 20px;
        margin-bottom: 0%;
    }

    #manifestation_Lieu{
        border-radius: 40px;
    }

    #manifestation_Chercher{
        padding: 15%;
        border-radius: 20px;
        background-color: #b37047;
        color: white;
        align-items: center;
    }

    /* achat */

    .achat {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contenu_achat{
        display: flex;
        width: 80%;
        height: 100%;
        background-color: #9c9c9c;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .image_achat{
        width: 50%;
    }

    /* formulaire inscription */

    .form_register {
        width: 40%;
        margin-left: 28%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /* footer */

    footer {
        width: 100%;
        display: flex;
        align-items: center;
    justify-content: space-evenly;
    }

    .fluid_logo_footer {
        width: 5%;
        margin-bottom: 1%;
        justify-content: start;
        text-align: start;
        align-items: center;
    }
}