{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block content %}
        <section class="accueil1">
            <article class="premier_article">
                <img src={{ asset('media/bigflooli.jpg')}} alt="" class="image_accueil">
            </article>
            <article class="premier_article">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas libero porro fuga voluptates laudantium ea, ullam dignissimos obcaecati doloribus velit non aperiam dolorem quidem placeat. Similique, beatae saepe repellendus reiciendis vero nisi delectus inventore nobis dolore tempora facere provident optio eius quas recusandae facilis sed temporibus aliquam accusamus ipsa. Sequi corrupti quasi animi beatae perferendis, adipisci dolore sit possimus fugiat praesentium? Nam officia quis hic animi quo velit praesentium facilis, dolore perspiciatis adipisci quisquam at illum autem unde commodi tempore temporibus nulla. Nihil ab voluptates minima aliquid, blanditiis delectus! Odit, omnis eos nobis veniam reiciendis ipsum voluptatem aliquid quidem sit sunt quae id, ex, ipsam ducimus. Nobis ipsa iure illo corporis modi inventore sed temporibus vel dolorum, similique magnam nulla ipsam soluta error beatae distinctio dolore? Nobis, et laboriosam? Perspiciatis repellat accusantium fugit optio dolorum! Nostrum eos magni quis perferendis harum aspernatur deserunt neque obcaecati possimus, doloremque id amet non aliquam, officiis autem rem dolorum nemo minima quasi architecto fuga fugit repellendus. Reiciendis vel beatae optio saepe totam ullam, commodi, velit accusantium voluptatem eveniet quod delectus id minima quaerat officiis rem enim mollitia minus assumenda. Fugit enim accusamus expedita esse totam aspernatur cumque! Tempora maxime iure sit! Animi incidunt alias reiciendis ratione eaque molestiae dolorem maxime ut.</p>
            </article>
        </section>
        <section class="accueil2">
            <article class="deuxieme_article">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.179289052068!2d4.030830915918948!3d49.25404758071967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e9745329b8192d%3A0x7a2d2a2fedaf30bc!2s2%20Rue%20Guillaume%20de%20Machault%2C%2051100%20Reims!5e0!3m2!1sfr!2sfr!4v1669458941967!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
            <article class="troisieme_article">
                <p>Adresse : 2 rue Guillaume de Machault à Reims</p>
                <br>
                <p>Contact : 03 26 777 776</p>
                <br>
                <p>Ouverture : les mardis et vendredis de 13h à 17h et le mercredi de 10h à 17h.</p>
            </article>
        </section>
        {% endblock %}
{% endblock %}
