{% extends 'base.html.twig' %}

{% block title %}Infos Pratiques{% endblock %}

{% block body %}
    {% block h2 %}Infos Pratiques{% endblock %}
    {% block content %}
        <div class="info_pratique">
            <h1>Billeterie</h1>
            <p>Avant toute chose nous souhaitions vous mettre en garde contre les revendeurs frauduleux. Le Bataclan a rejoint l’initiative #fanpasgogo qui sensibilise le public à l’achat de billets illicites. Ces sites pratiquant le marché noir de billetterie nuisent aux spectateurs ainsi qu’à notre travail de diffuseur, et à l’image des producteurs de spectacle et des artistes. Soyez vigilants lorsque vous achetez un billet, et faites seulement confiance aux revendeurs officiels ! Nous déclinons toute responsabilité en cas d’invalidité du dit-billet.</p>
            <h5>RESERVATION</h5>
            <p>Nous ne disposons pas de billetterie physique ni téléphonique. Toute réservation se fait obligatoirement sur notre site internet. Pour les personnes en situation de handicap ; rendez-vous sur notre page spécifique !</p>
            <h5>IMPRESSION BILLET</h5>
            <p>Les codes-barres sont lisibles sur smartphone, il n’est pas obligatoire d’imprimer vos billets, à l’exception des impressions écran de billet. Toutefois assurez-vous d’avoir suffisamment de batterie.</p>
            <h5>VENTE AU GUICHET</h5>
            <p>Si le concert n’affiche pas complet, il vous sera possible d’acheter un billet pour l’événement du soir directement à l’entrée du Bataclan. Si le concert est complet, suivez nos réseaux sociaux, il arrive parfois aux producteurs de remettre en vente quelques places en vente au dernier moment. Vous serez alors avertis sur nos différents réseaux.</p>
            <h5>RETRAIT DES BILLETS </h5>
            <p>Les billets achetés dans les réseaux de billetterie Fnac, France Billet, Ticketmaster, Digitick et Ticketac ne peuvent pas être retirés au Bataclan. Les sites tels Billeréduc et Theatreonline fournissent à leurs clients des contremarques à échanger contre des billets au guichet du Bataclan une heure avant le début du spectacle. En cas de doute, le mode et lieu de retrait sont clairement précisés sur votre confirmation de commande.</p>
        </div>
        {% endblock %}
{% endblock %}

